@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@100;400;500;900&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
}
#main1,#dis{
    opacity: 1;
    transition: all 0.5s linear;
}
.form{
    top: 5%;
    width: 50%;
    min-height: 90vh;
    z-index: 2000;
    background: transparent;
    display: flex;
    flex-direction: column;
    position: fixed;
    transition: all 0.5s ease;
    background: #18181a;
    color: blanchedalmond;
    clip-path: inset(0 0 100% 0);
    border-radius: 5px;
}
.form form{
    /* padding: 40px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-content: center;
    /* min-height: 0; */
}
.form .close{
    position: relative;
    width: 100%;
    right: -97%;
    top: 10px;
}
.form .close #close{
    color: white;
    cursor: pointer;
}
.form .close #close:hover{
    color: white;
}
.form-contro{
    display: flex;
    flex-direction: column-reverse;
    /* z-index: 3000; */
    width: 70%;
    margin-top: 40px;
}
.form-contro input{
    margin-top: 5px;
    height: 20px;
    border: none;
    outline: none;
    border: solid 3px rgb(73, 73, 73);
    transition: all 0.2s linear;
    /* width: 90%; */
    width: 100%;
    background: transparent;
    border-radius: 5px;
    color: whitesmoke;
    font-size: 20px;
    padding: 10px;
    padding-inline-start: 40px;
    font-family: 'Montserrat', sans-serif;
}
.form-contro input:hover{
    border: solid 3px white;
}
.form-contro input:focus{
    border: solid 3px #3135b5;
}
.form-contro label{
    font-size: 20px;
    margin-left: 5px;
    color: rgba(255, 255, 255, 0.452);
}
.form-contro i{
    position: absolute;
    padding: 13px;
    color: white;
    font-size: 20px;
}
.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    align-items: center;
}
.cont button{
    margin-top: 50px;
    outline: none;
    width: 60%;
    font-size: 20px;
    border: none;
    color: rgb(197, 197, 197);
    border-radius: 5px;
    cursor: pointer;
    background: #4146d8;
    padding: 9px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
    transition: all 0.1s ease;
}
h1{
    letter-spacing: 2px;
}
.cont button:hover{
    background: #4146d85b;
}
@media screen and (max-width:1000px){
    .form{
        width: 90%;
    }
    .form-contro i{
        display: none;
    }
    .form-contro input{
        padding-inline-start: 5px;
    }
    .close{
        right: 92%;
    }
    
}
@media screen and (max-width:400px){
    .close{
        left: 90%;
    }
}
.main1{
    width: 100%;
    z-index: -1;
    background: url('https://images.pexels.com/photos/2952834/pexels-photo-2952834.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    /* position: fixed; */
}
h2,h3,h6,label{
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.heading{
    color: rgb(255, 255, 255);
    font-size: 2em;
    padding-top: 40vh;
    padding-left: 5vw;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    text-align: center;
}
.heading h1{
    font-size: 2em;
    font-weight: 800;
}
.discrip{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgb(31, 31, 31);
    color: #f0ffff;
    height:max-content;
    padding-top: 5vh;
    padding-bottom: 5vh;
    box-shadow: white 40px 40px;
    width: 100%;
    align-items: center;
    justify-content:center;
}
.discrip section{
    width: 90%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.discrip .date{
    font-size: 2em;
    /* padding-left: 1em; */
    padding-bottom: 0.4em;
}
.discrip .over{
    z-index: 1000;
    background: rgb(29, 29, 29);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1em;
    /* padding: 1em; */
}
.over button{
    margin-top: 50px;
}
.discrip .over h2{
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 0.5em;
    color:darkgrey;
}

.discrip .over p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

.discrip .speak{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(29, 29, 29);
    /* margin-left: 10vw; */
    border-radius: 1em;
    width: 40%;
    z-index: 1000;
    /* padding-left: 2em; */
    /* border: snow 2px solid; */
}
.speak div{
    margin-left: 5px;
}
@media screen and (max-width:900px) {
    .discrip .speak{
        /* margin-left: 10px; */
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }
    .discrip .over{
        width: 100%;
        text-align: center;
    }
    .discrip section{
        flex-direction: column;
    }
}

.discrip .speak h2{
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 0.5em;
    color:darkgrey;
}

.speaker{
    display: flex;
    margin-top: 10px;    
    /* padding-bottom: 0.2em;
    padding-top: 0.2em;
    padding-left: 0.2em; */
}
.speaker img{
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.speaker .name{
    position: relative;
    /* border: violet 2px solid; */
    align-self: center;
    margin-left: 2em;
}
.speaker .name h3{
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 1.5em;
    /* border: snow 2px solid; */
}


.countdown{
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.countdown div{
    position: relative;
    width: 60px;
    height: 60px;
    line-height: 50px;
    text-align: center;
    background: rgba(255, 255, 255, 0.548);
    color: rgb(0, 0, 0);
    margin: 0 15px;
    font-size: 2em;
    font-weight: 500;
    border-radius: 50%;
    border: rgb(0, 0, 0) solid 0.2px;
    border-top: none;
    border-left: none;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 1);
    backdrop-filter: blur(50px);
    transition: 1s;
    align-items: center;
}

.countdown div:hover{
    height: 105px;
    width: 105px;
    line-height: 105px;
    border: rgb(255, 255, 255) solid 2px;
    border-top: none;
    border-left: none;
}

.countdown div:before{
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 35px;
    background: transparent;
    color: rgb(255, 255, 255);
    font-size: 0.35em;
    line-height: 25px;
    font-weight: 500;
}
.countdown div#day:before{
    content: 'Days';
}
.countdown div#hour:before{
    content: 'Hours';
}
.countdown div#minute:before{
    content: 'Minutes';
}
.countdown div#second:before{
    content: 'Seconds';
}
.over .a-button button{
    height: 2em;
    width: 10em;
    background: rgba(255, 255, 255, 0.486);
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    border-radius: 5px;
    border-top: none;
    border-left: none;
    backdrop-filter: blur(50px);
    transition: 0.1s;
}
.over .a-button:hover button{
    background: rgba(0, 0, 0, 0.329);
    color: white;
}
.time
{
    margin-top: 20px;
}


.over button{
    width: 40%;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.774);
    color: black;
    font-weight: 600;
    border-radius: 5px;
    padding: 8px;
    transition: all 0.1s linear;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}
.over button:hover{
    background: rgba(255, 255, 255, 0.226);
}