body{
    margin: 0;
    padding:0;
    background-color:#FFFFFF;
    font-family: 'Roboto', arial;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
}

.section1{
    background-color: #1E2937;
    background-image:url("https://wallpapercave.com/wp/wp6933503.jpg");
    background-repeat: no-repeat;
    background-size: 100% 300vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Navigation bar */

.navbar{
    display: flex;
    height: 50px;
    width: 100%;
    color: #F9FAF8;
    background-color:white;
}

.navbar h2{
    font-size: 24px;
    color:#F9FAF8;
    font-weight: bold;
}

.navbar ul{
    list-style: none;
    margin:0;
    padding:0;
    display:flex;
    justify-content: space-between;
    font-size:18px;
    gap:20px;
} 
.navbar a{
    text-decoration: none;
    color:#E5E7EB;
}

/*banner area*/
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.banner h1{
    margin: 0;
    padding: 0;
    font-size:55px;
    font-weight: bolder;
    color:rgb(0, 0, 0);
}

.banner p{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: rgb(24, 24, 24);
}

.banner button{
    display: block;
    background: transparent;
    color: rgb(255, 252, 94);
    border: #000 solid 2px;
    margin: 10px;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    text-align: center;
    font-weight: bolder;
}

button:hover{
    background-color:#000;
    color: #FFFFFF;
    border: #FFFFFF solid 2px;
}

/*Event card container*/
.eventcontainer{
      padding:20px;
      text-align: center;
      color: #2a2b2c;
  }

/*Embedded youtube link area*/
#youtube{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

/*Embedded Google form area*/
  #gform{
      display: flex;
      justify-content: center;
      margin: 20px;
      padding: 10px;
  }

/*Footer*/
  .footer{
    margin: 0;
    padding: 10px 0 0 0;
    height: 30px;
    display: flex;
    justify-content: center;
    background-color:#E5E7EB;
    color:black;
    font-size: 15px;
}
